*{padding: 0px;
margin: 0px;}
.invoice{

   
	height:90vh;
	width: 100%;
   



}
.ininvoice{
 
   width: 100%;
   height: 90vh;

}
.optHeader{

   width: 80%;
   margin-left:10%; 
   
}

.adduser{

    min-width: 400px;
    width: 400px;


}

.ltable  {

 
}
.action{

  width: 80px;
}

.add-user{
  width:400px;
 
  margin: auto;

}
.ant-pagination-item-link,.ant-pagination-item {
  background-color: transparent!important;
}
.little{
  text-align: center;
   border: 1px  solid  black;

}
.example {
  position: absolute;
  width: 80%;
  text-align: center;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;

}